*{
    margin: 0;
    padding: 0;
}


nav{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;

}

.login{
    font-size: 18px;
    padding: 8px;
    margin-bottom: 5px;
    color: white;
    background-color:#4785fb;
}

.container{
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
    width: 25px;
    height: 25px;


}


 .container_quadrado{
    margin: 1px;
    border-radius: 50%;
    background-color: #5d575e;
    width: 5px;
    height: 5px;
    
    
}

nav a{
    font-size: 18px;
    color: #5d575e;
    text-decoration: none;
    margin-top: 10px;
   margin-right: 20px;
}

.container_quadrado:hover{
    background-color: white;
}

.container:hover{
    color: white;
    padding: 4px;
    padding-bottom: 6px;
    background-color: #4785fb;
}

nav a:hover{
    padding: 8px;
    color: white;
    background-color: #4785fb;
}

.centro{
    height: 200px;
    width: 400px;
    position: absolute;
    align-items: center;
    display: flex;
    left: 38%;
    top: 30%;
    flex-direction: column;
}

.logo{
    width: 600px;
    margin-bottom: 19px;
}

.centro_pes{
    display: flex;
    flex-direction: column;
}

input{
    margin-top: -25px;
    width:500px;
    height: 40px;
    border-radius: 75px;
    border: 1px solid #e5e3e6;
    box-shadow: 1px 1px 1px #a19fa2;
}

.pp{display: flex;
    align-items: center;
    justify-content:space-around;
    
    
}

button{
    padding: 1px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    width: 160px;
    height: 40px;
    color: #626063;
    border: none;
    border-radius: 10px;


}

button:hover{
    border: 1px solid #626063;
    cursor: pointer;
}